div.banner {
  background-image: url(../images/banner.jpg);
  border: 1px solid rgb(201, 26, 201);
  height: 268px;
  background-size: cover;
  background-position: center center;
  min-width: 768px;
  background-repeat: no-repeat;
}
